@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h2>Login Info:</h2>
  <h1>Welcome @User.Identity.Name!</h1>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-outline-secondary" value="Log Out"/>
    @Html.ActionLink("Home", "Index", "Home")
  }
}
else
{
  <h2>Login foo..</h2>
  <div class="imgbox2">
    <div class="fail_login_imgbox">
    </div>
  </div>
<br>
}
<br>
<br>