@{
  Layout = "_Layout";
}

<h1>Who is Pierre the Baker?</h1>
<div class="imgbox">
  <div class="pierre_imgbox">
  </div>
</div>
<br>

<div>
  <h4>Brief History:</h4>
  <span>Pierre is a talented baker who has dedicated his life to perfecting the art of French patisserie. Born and raised in the heart of Paris, Pierre grew up surrounded by the sights and smells of fresh baked goods. From a young age, he developed a passion for baking, and he honed his skills under the tutelage of some of the best bakers in France.
  <br>
  After years of hard work and training, Pierre opened his own bakery, specializing in French pastries and cakes. His customers rave about his perfectly flaky croissants, delicate macarons, and decadent cakes. But what sets Pierre apart from other bakers is his unique approach to cake design. He takes great care to create not just delicious cakes, but works of art that are as beautiful as they are delicious.
  <br>
  Whether he's crafting a classic French fruit tart, or experimenting with a new flavor combination, Pierre is always striving to bring the best of French patisserie to his customers. His commitment to quality, combined with his passion for baking, has earned him a loyal following of fans and a reputation as one of the best bakers in the city.
  <br>
  So if you're in the mood for a sweet treat, stop by Pierre's bakery and taste the results of his lifelong dedication to the art of French baking. You won't be disappointed!</span>
</div>
<br>
<div>
  <h4>Highlights:</h4>
  <span>
    <li>Winner of the prestigious Parisian Bakery Award for "Best French Pastry" (2020)</li>
    <li>Named "Pastry Chef of the Year" by Gourmet Magazine (2021)</li>
    <li>Received a commendation from the Mayor of Paris for contributions to the city's culinary scene (2022)</li>
    <li>Honored with the title of "Meilleur Ouvrier de France" (Best Craftsman of France) for his exceptional skills in patisserie (2022)</li>
  </span>
</div>
<br>

<h2>Contact Pierre at:</h2>
<span>By <a href="mailto:test@notanemail.com">Email</a><span>
<br>
<span>On <a href="instagram.com/fakeprofiledoesnotexist">Instagram</a><span>
<br>
<br>