@{
  Layout = "_Layout";
}

<h1>Who is Pierre the Baker?</h1>
<div>
  <h4>Brief History:</h4>
  <span>Pierre started his jkhsaj sadjhjkbsd sdfjbsdjbds  jkbjasbjbsdb sdjb sdjkbjkasdb sadJBSDAJBIJHDS HJI SDIU  SDH BSDHK K;</span>
</div>
<br>
<div>
  <h4>Highlights:</h4>
  <span>
    <li>Best Bread</li>
    <li>Best Places to work</li>
    <li>etc</li>
  </span>
</div>
<br>
<div>
  <h4>(insert photo of Pieree)</h4>
</div>

<h2>Contact Pierre at:</h2>

<p>By <a href="mailto:test@notanemail.com">Email</a><p>

<p>On <a href="instagram.com/fakeprofiledoesnotexist">Instagram</a><p>