@{
  Layout = "_Layout";
}

<h1>Pierre's Sweet and Savory Treats</h1><br>
<h3>They're to die for!</h3>

<div class="">
  <br>
  <span>@Html.ActionLink("Check out Treats", "Index", "Treats")</span>
  <br>
  <span>@Html.ActionLink("Check out Flavors", "Index", "Flavors")</span>
  <br>
</div>